.SideBarFooter {
    text-align: center;
    padding: 10px;
}

.SideBarFooter__add-btn {
    font-size: 1.5rem;
    width: 90px;
    height: 30px;
    background: #4da4f3;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}