.MemoItem {
    width: 100%;
    padding: 8px 8px;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MemoItem.selected {
    background-color: rgba(100, 100, 100, 0.5);
    font-weight: bold;
}

.MemoItem__del-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.MemoItem:hover .MemoItem__del-btn {
    display: inline-block;
}

.MemoItem__title {
    display: inline-block;
    max-width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
