.MemoItem {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.MemoItem.selected {
    background-color: rgba(100, 100, 100, 0.5);
    font-weight: bold;
}

.MemoItem {
    height: 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    line-height: 30px;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
}


.MemoItem__del-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
}

.MemoItem:hover .MemoItem__del-btn {
    display: block;
}
