.App {
    display: flex;
    height: 100vh;
}

.SideBar {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    width: 200px;
    gap: 10px;
}

.MemoContainer {
    background-color: #666;
    flex: 1;
}

.MemoContainer__title {
    width: 100%;
    box-sizing: border-box;
    font-size: 2rem;
}

.MemoContainer__content {
    width: 100%;
    min-height: 600px;
    box-sizing: border-box;
    font-size: 1.1rem;
}

.MemoItem {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.MemoItem.selected {
    background-color: rgba(100, 100, 100, 0.5);
    font-weight: bold;
}

.MemoItem {
    height: 30px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    line-height: 30px;
    cursor: pointer;
}